@model Data.DataPlan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DataPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternationalData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternationalData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DataPlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
