@model IEnumerable<Data.Models.DataPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataPlanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternationalData)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPlanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternationalData)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DataPlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DataPlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DataPlanId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>