@model IEnumerable<MVCPhoneServiceWeb.ViewModels.TotalCostViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cost Center Expenses</h1>
<form asp-controller="TotalCost" asp-action="CostCenterExpenseMobile">

    <div class="row">
        <div class="col-2">
            <input type="text" name="month"/>month
        </div>
        <div class="col-2">
            <input type="text" name="year"/> Year
        </div>

            <input type="submit" value="filter"/>
    </div>

</form>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CostCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CostCenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense)
            </td>
            @* <td> *@
            @*     <a asp-action="Edit" asp-route-id="@item.PhoneNumber">Edit</a> | *@
            @*     <a asp-action="Details" asp-route-id="@item.PhoneNumber">Details</a> | *@
            @*     <a asp-action="Delete" asp-route-id="@item.PhoneNumber">Delete</a> *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>